/********** Base styles **********/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Simple Responsive Framework. */

.mydiv {
    width: 100%;
}

h1 {
    font-size: 1.75em;
    text-align: center;
}

h2 {
    position: relative;
    float: right;
    margin: 0 0 10px 15px;
    color: white;
    border: 1px solid black;
    padding: 8px;
    font-size: 1.25em;
    width: 150px;
    text-align: center;
}

.contentbox:nth-of-type(1) h2 {
    color: black;
    background-color: #d59898;
}

.contentbox:nth-of-type(2) h2 {
    color: white;
    background-color: #c14543;
}

.contentbox:nth-of-type(3) h2 {
    color: black;
    background-color: #e5d198;
}

.contentbox {
    float: left;
    width: 33.3%;
    padding: 8px;
}

section {
    float: left;
    border: 1px black solid;
    background-color: #999999;
}

p {
    float: left;
    clear: left;
    margin: 0 1em 1em 1em;
    text-align: justify;
}


/********** mobile view **********/

@media (max-width: 767px) {
    .contentbox {
        width: 100%;
    }
}


/********** tablet view **********/

@media (min-width: 768px) and (max-width: 991px) {
    .contentbox:nth-of-type(1),
    .contentbox:nth-of-type(2) {
        width: 50%;
    }
    .contentbox:nth-of-type(3) {
        width: 100%;
    }
}


/********** desktop view **********/

@media (min-width: 992px) {}